<div class="col-md-12" ng-show="vm.objectMode==1">
    <div class="col-md-6 ">
        <div class="panel panel-info" ng-class="{'panel-info':!vm.ValidateInputBegin(), 'panel-success':vm.ValidateInputBegin()}">
            <div class="panel-heading custom-panel-heading">
                Define Beginning {{vm.GetInputBeginText()}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.inputBeginType=1">Text</button>
                <button type="button" class="btn btn-default" ng-click="vm.inputBeginType=2">Regex</button>
            </div>
            <br />
        </div>
        <div class="col-md-3">
            <textarea type="text" ng-model="vm.inputObjectBeginning" rows="2" wrap="soft"></textarea>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="panel panel-info">
            <div class="panel-heading">
                Define Ending
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.inputEndType=1">Text</button>
                <button type="button" class="btn btn-default" ng-click="vm.inputEndType=2">Regex</button>
            </div>
            <br />
            <div ng-show="vm.inputEndType > 0" class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="">Match Count</button>
            </div>
        </div>
        <div class="col-md-3">
            <textarea type="text" ng-model="vm.inputObjectEnding" rows="2" wrap="soft"></textarea>
        </div>
    </div>
</div>